<div class="row justify-content-center align-content-center min-vh-80">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Successfully Signed Up</h3>
                <p class="card-text">
                    Please check your email for verification
                </p>
            </div>
        </div>
    </div>
</div>
