<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Email Verified</h3>
                <p class="card-text"><% successMessage.message %></p>
            </div>
        </div>
    </div>
</div>
