<div class="row justify-content-center align-content-center min-vh-80">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Email Verified</h3>
                <p class="card-text"><%= successMessage.message %></p>
            </div>
        </div>
    </div>
    <div class="col-4 mt-4">
        <a href="/sign-up-in" class="btn btn-primary">Sign In</a>
    </div>
</div>
