<h2 class="h1 text-center py-3 border-bottom">Dashboard</h2>
<div class="row justify-content-center gap-5" ">
    <section id="items" class="col-8 my-5">
        <div class="text-center">
            <h1 class="h2">My Items</h1>
        </div>
        <div id="lost-items" class="my-3">
            <%- include('../item/lostItems.ejs') %>
        </div>
        <div id="found-items" class="my-3">
            <%- include('../item/foundItems.ejs') %>
        </div>
    </section>

    <section
        id="notifications"
        class="col-3 card p-5 my-5"
        style="position: sticky;"
    >
        <div class="text-center">
            <h2 class="h2">Notifications</h2>
        </div>
    </section>
</div>
