<section id="found-items" name="found-items">
    <div class="border-bottom mt-3 mb-4">
        <h1 class="h2">Found Items</h1>
    </div>
    <div class="row justify-content-start gap-3">
        <% foundItems.forEach(element => { %> <%-
        include('./card/foundItem.ejs', { element: element }) %> <% }) %>
    </div>

    <%- include('../partials/pagination', { current: foundCurrent, pages:
    foundPages, items: foundItems, type: "found" }) %>
</section>
