<section id="lost-items" name="lost-items">
    <div class="border-bottom mt-3 mb-4">
        <h1 class="h2">Lost Items</h1>
    </div>

    <div class="row justify-content-start">
        <% lostItems.forEach(element => { %> <%- include('./card/lostItem', {
        element: element }) %> <% }) %>
    </div>

    <%- include('../partials/pagination', { current: lostCurrent, pages:
    lostPages, items: lostItems, type: "lost" }) %>
</section>
