<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="home.css" />
    </head>
    <body>
        <!-- Nav -->
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="index.html" class="button ghost">Home</a></li>
                    <li><a href="#about" class="button ghost">About</a></li>
                    <li><a href="lostAndFound.html" class="button outline">Report/Find</a></li>
                    <li><a href="signInOut.html" class="button secondary">Sign In</a></li>
                </ul>
                <h1 class="logo"><a href="index.html" class="unbounded">Lost & Found</a></h1>
            </div>
        </nav>
        <!-- Hero -->
        <div class="home-section" style="background-color: cornflowerblue">
            <div class="home-hero"></div>

            <h1>Help make the world a Better Place. Report and Find Lost Items.</h1>

            <a href="lostAndFound.html" class="button primary">Try It</a>
        </div>

        <div class="about-section" id="about">
            <div class="about-description">
                <h1>ABOUT US</h1>
                <p>
                    We help people find their lost items and incentivise other to help find things.
                    Trying to make the world a better place, one step at a time.
                </p>
            </div>

            <div class="about-image">
                <img
                    src="https://images.unsplash.com/photo-1554941829-202a0b2403b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="img"
                />
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer__addr">
                        <h1 class="footer__logo">Something</h1>

                        <h2>Contact</h2>

                        <address>
                            5534 Somewhere In. The World 22193-10212<br />

                            <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
                        </address>
                    </div>

                    <ul class="footer__nav">
                        <li class="nav__item">
                            <h2 class="nav__title">Media</h2>

                            <ul class="nav__ul">
                                <li>
                                    <a href="#">Online</a>
                                </li>

                                <li>
                                    <a href="#">Print</a>
                                </li>

                                <li>
                                    <a href="#">Alternative Ads</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__item nav__item--extra">
                            <h2 class="nav__title">Technology</h2>

                            <ul class="nav__ul nav__ul--extra">
                                <li>
                                    <a href="#">Hardware Design</a>
                                </li>

                                <li>
                                    <a href="#">Software Design</a>
                                </li>

                                <li>
                                    <a href="#">Digital Signage</a>
                                </li>

                                <li>
                                    <a href="#">Automation</a>
                                </li>

                                <li>
                                    <a href="#">Artificial Intelligence</a>
                                </li>

                                <li>
                                    <a href="#">IoT</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__item">
                            <h2 class="nav__title">Legal</h2>

                            <ul class="nav__ul">
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>

                                <li>
                                    <a href="#">Terms of Use</a>
                                </li>

                                <li>
                                    <a href="#">Sitemap</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="legal">
                    <p>&copy; 2023 Something. All rights reserved.</p>

                    <div class="legal__links">
                        <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
