<!-- Hero -->
<div class="home-section" style="background-color: cornflowerblue">
    <div class="home-hero"></div>

    <h1>Help make the world a Better Place. Report and Find Lost Items.</h1>

    <a href="/sign-up-in" class="button primary" style="width: 200px"
        >Sign Up</a
    >
</div>

<div class="about-section" id="about">
    <div class="about-description">
        <h1>ABOUT US</h1>
        <p>
            We help people find their lost items and incentivise other to help
            find things. Trying to make the world a better place, one step at a
            time.
        </p>
    </div>

    <div class="about-image">
        <img
            src="https://images.unsplash.com/photo-1554941829-202a0b2403b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="img"
        />
    </div>
</div>
