<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="home.css" />
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="index.html" class="button ghost">Home</a></li>
                    <li><a href="#" class="button ghost">About</a></li>
                    <li><a href="lostAndFound.html" class="button outline">Report/Find</a></li>
                    <li><a href="signInOut.html" class="button secondary">Sign In</a></li>
                </ul>
                <h1 class="logo"><a href="index.html" class="unbounded">Lost & Found</a></h1>
            </div>
        </nav>
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
                    for="tab-1"
                    class="tab"
                    >Sign In</label
                >
                <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
                    for="tab-2"
                    class="tab"
                    >Sign Up</label
                >
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input" />
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password" />
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked />
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In" />
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input" />
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password" />
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="pass" type="password" class="input" data-type="password" />
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="pass" type="text" class="input" />
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up" />
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="">
                                <label for="tab-1">Already Member?</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer__addr">
                        <h1 class="footer__logo">Something</h1>

                        <h2>Contact</h2>

                        <address>
                            5534 Somewhere In. The World 22193-10212<br />

                            <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
                        </address>
                    </div>

                    <ul class="footer__nav">
                        <li class="nav__item">
                            <h2 class="nav__title">Media</h2>

                            <ul class="nav__ul">
                                <li>
                                    <a href="#">Online</a>
                                </li>

                                <li>
                                    <a href="#">Print</a>
                                </li>

                                <li>
                                    <a href="#">Alternative Ads</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__item nav__item--extra">
                            <h2 class="nav__title">Technology</h2>

                            <ul class="nav__ul nav__ul--extra">
                                <li>
                                    <a href="#">Hardware Design</a>
                                </li>

                                <li>
                                    <a href="#">Software Design</a>
                                </li>

                                <li>
                                    <a href="#">Digital Signage</a>
                                </li>

                                <li>
                                    <a href="#">Automation</a>
                                </li>

                                <li>
                                    <a href="#">Artificial Intelligence</a>
                                </li>

                                <li>
                                    <a href="#">IoT</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__item">
                            <h2 class="nav__title">Legal</h2>

                            <ul class="nav__ul">
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>

                                <li>
                                    <a href="#">Terms of Use</a>
                                </li>

                                <li>
                                    <a href="#">Sitemap</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="legal">
                    <p>&copy; 2023 Something. All rights reserved.</p>

                    <div class="legal__links">
                        <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
